@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 80 13% 94%; /* #f0f2ec */
    --foreground: 98 79% 7%; /* darker shade of #193b06 for contrast */
    --card: 80 13% 98%; /* Lighter shade of background */
    --card-foreground: 98 79% 7%;
    --popover: 80 13% 98%;
    --popover-foreground: 98 79% 7%;
    --primary: 88 51% 48%; /* #84ba39 */
    --primary-foreground: 98 79% 7%;
    --secondary: 85 30% 85%;
    --secondary-foreground: 98 79% 7%;
    --muted: 85 30% 88%;
    --muted-foreground: 95 20% 45%;
    --accent: 85 40% 65%;
    --accent-foreground: 98 79% 7%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 85 20% 80%;
    --input: 85 20% 80%;
    --ring: 88 51% 48%; /* #84ba39 */
    --chart-1: 88 51% 48%;
    --chart-2: 95 68% 21%;
    --chart-3: 88 40% 60%;
    --chart-4: 98 50% 30%;
    --chart-5: 85 20% 40%;
    --radius: 0.5rem;
    --sidebar-background: 80 13% 95%;
    --sidebar-foreground: 98 79% 7%;
    --sidebar-primary: 88 51% 48%;
    --sidebar-primary-foreground: 98 79% 7%;
    --sidebar-accent: 85 30% 88%;
    --sidebar-accent-foreground: 98 79% 7%;
    --sidebar-border: 85 20% 82%;
    --sidebar-ring: 88 51% 48%;
  }
  .dark {
    --background: 98 79% 7%; /* #193b06 */
    --foreground: 80 13% 94%; /* #f0f2ec */
    --card: 98 79% 10%;
    --card-foreground: 80 13% 94%;
    --popover: 98 79% 10%;
    --popover-foreground: 80 13% 94%;
    --primary: 88 51% 48%; /* #84ba39 */
    --primary-foreground: 98 79% 7%;
    --secondary: 95 68% 15%;
    --secondary-foreground: 80 13% 94%;
    --muted: 95 68% 15%;
    --muted-foreground: 80 13% 75%;
    --accent: 88 51% 38%;
    --accent-foreground: 80 13% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 95 68% 15%;
    --input: 95 68% 15%;
    --ring: 88 51% 58%;
    --chart-1: 88 51% 48%;
    --chart-2: 80 13% 94%;
    --chart-3: 88 40% 60%;
    --chart-4: 80 13% 75%;
    --chart-5: 88 51% 38%;
    --sidebar-background: 98 79% 8%;
    --sidebar-foreground: 80 13% 94%;
    --sidebar-primary: 88 51% 48%;
    --sidebar-primary-foreground: 98 79% 7%;
    --sidebar-accent: 95 68% 15%;
    --sidebar-accent-foreground: 80 13% 94%;
    --sidebar-border: 95 68% 15%;
    --sidebar-ring: 88 51% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
